.book-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}

.details h1 {
    color: black;
    font-weight: bold;
}

.own-battery {
    color: rgb(39, 39, 186);
    font-weight: bold;
}

.cover-image img {
    height: 400px;
}